.number-user {
    font-size: 150px;

    color: red;
}

.number-cpu {
    font-size: 150px;

    color: blue;
}

ul li {
    list-style-type: none;
}

#user-value {
    animation: mine 1 1.5s;
}

@keyframes mine {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.8;
    }



    100% {
        opacity: 1;
    }
}

#cpu-value {
    animation: oppo 1 3s;
}

@keyframes oppo {
    0% {
        opacity: 0;
    }

    23% {
        opacity: 0.25;
    }

    83% {
        opacity: 0.85;
    }



    100% {
        opacity: 1;
    }
}

#outcome {
    font-size: 40px;
    font-weight: bold;

    animation: outcome infinite 6s;

}

@keyframes outcome {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }

}

.active {
    display: block;
}