.dotted-user {
    font-size: 150px;

    color: red;
}

.dotted-cpu {
    font-size: 150px;

    color: blue;
}

#user-value {
    animation: mine 1 2s -1.5s;
}

@keyframes mine {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#cpu-value {
    animation: oppo 1 3s;
}

@keyframes oppo {
    0% {
        opacity: 0;
    }



    100% {
        opacity: 1;
    }
}

#outcome {
    font-size: 40px;
    font-weight: bold;

    animation: outcome 1 3.25s;

}

@keyframes outcome {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

}